<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="hamburger">

<i class="fas fa-times"></i>
    </div>
<nav class="sidebar">
    <ul class="nav-list">
                <li class="nav-item">
                    <i class="fas fa-bar">
            <a href="{% url 'home' %}" class="nav-link">
                <i class="fas fa-home"></i>
            </a>
        </i>
                </li>
      {% if user.is_authenticated %}

          <li class="nav-item">
            <i class="fas fa-bar">
            <a href="{% url 'post_list' %}" class="nav-link">
                <i class="fas fa-list"></i>
            </a>
        </i>
       </li>
          <li class="nav-item">
            <i class="fas fa-bar">
            <a href="{% url 'accounts:logout' %}" class="nav-link">
                <i class="fas fa-power-off"></i>
            </a>
        </i>
       </li>
          {% else %}
          <li class="nav-item">
            <i class="fas fa-bar">
            <a href="{% url 'accounts:login' %}" class="nav-link">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </i>
        </li>
          <li class="nav-item">
            <i class="fas fa-bar">
            <a href="{% url 'accounts:signup' %}" class="nav-link">
                <i class="fas fa-handshake"></i>
            </a>
        </i>
        </li>
      {% endif %}


    </ul>
    <div class="social-media" style="text-align: center;">
        <a href="http://www.twitter.com" class="icon-link">
            <i class="fab fa-twitter-square">

            </i>
        </a>
        <a href="http://www.facebook.com" class="icon-link">
            <i class="fab fa-facebook-square">

            </i>
        </a>
        <a href="http://www.github.com" class="icon-link">
            <i class="fab fa-github-square">

            </i>
        </a>
    </div>
</nav>

</header>




{% block content %}
<section class="banner" style="margin-left: 100px;">
    <h1>Ask is a platform to get answers</h1>
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-sm-1">
                <img src="{% static 'images/base/questionmark.svg' %}" alt="" class="main-image" style="margin-top: 50px">
            </div>
            <div class="col col-lg-6 col-sm-1">
                <a href="{% url 'accounts:login' %}" class="btn btn-primary" style="margin-top: 70px">Login</a>
                <p>Not a member click to <a href="{% url 'accounts:signup' %}">Sign Up</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block list_view %}

{% endblock %}
<link rel="stylesheet" href="{% static 'css/base/base.css' %}">
</body>
</html>